@import "tailwindcss";

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom cursor */
body {
  cursor: none;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 9999px;
  background: #ff2d2d;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .cursor {
    display: none !important;
  }
}

/* Hide scrollbars in horizontal scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.flex {
  scroll-behavior: smooth;
}

.writing-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.hover-glow-red:hover {
  filter: drop-shadow(0 0 6px rgba(255, 70, 70, 0.8));
}

[data-reveal] {
  opacity: 0;
  transform: translateY(40px);
}

.contact-text:hover {
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  transition: text-shadow 0.3s ease;
}

::-webkit-scrollbar {
  display: none;
}